NEXTAUTH_SECRET=secret

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOSTNAME=localhost
POSTGRES_PORT=5432
POSTGRES_DB=magicui
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOSTNAME}:${POSTGRES_PORT}/${POSTGRES_DB}

GITHUB_CLIENT_ID=client_id
GITHUB_CLIENT_SECRET=client_secret
GITHUB_ACCESS_TOKEN=access_token

RESEND_API_KEY=re_123
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_POSTHOG_API_KEY=

NEXT_PUBLIC_STRIPE_PAYMENT_LINK="https://buy.stripe.com/dR67vD4Vu4jAekwfZ2?prefilled_promo_code=ONEDAYSPECIAL"
