[data-theme="light"] {
  display: block;
}

[data-theme="dark"] {
  display: none;
}

.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

/* [data-rehype-pretty-code-figure] {
  @apply relative text-white;
} */

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply min-h-[1rem] w-full inline-block;
}

/* [data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
  @apply px-2;
} */

[data-rehype-pretty-code-figure] [data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}



[data-rehype-pretty-code-figure] .line-highlighted span {
  @apply relative;
}